ion-content{
    ion-list{
        ion-item-group{
            ion-item-divider{
                font-weight: 600;
                background-color: lightgray;
                color: whitesmoke;
            }
        }
    }
}