<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="getGeoLocation()">Where am I?</ion-button>
  <agm-map *ngIf="location" [latitude]="location.lat" [longitude]="location.lng" [zoom]=10>
    <agm-marker [latitude]="location.lat" [longitude]="location.lng">
    </agm-marker>
  </agm-map>
  <ion-button (click)="takeAPic()">Take Picture</ion-button>
  <ion-card *ngIf="imgSrc">
    <img [src]="imgSrc">
  </ion-card>
  <ion-button (click)="picFromGallery()">Pick from Gallery</ion-button>
  <ion-card *ngIf="galImgSrc">
    <img [src]="galImgSrc">
  </ion-card>
  <ion-button (click)="scheduleNotification()">Notification</ion-button>
</ion-content>